.pokemon-namelist {
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
        text-transform: capitalize;
        
        a {
            margin-right: 0.7rem;
            margin-bottom: 1rem;
            padding: 20px 15px;
            border-radius: 5px;
            text-decoration: none;
            background-color: white;
            background-image: url('../../img/pokeball.png');
            opacity: 0.7;
            background-repeat: no-repeat;
            background-position: 100px -20px;
            width: 250px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        
            &:hover {
                opacity: 1;
                transform: scale(1.1);
                transition: 0.1s;
                z-index: 999;
            }

            li {

                h4 {
                    margin-bottom: 5px;
                }

                p {
                    display: inline-block;
                    font-size: small;
                }

                .type1 {
                    color: white;
                    margin-right: 0.2rem;
                    background-color: rgb(0, 238, 255);
                    padding: 5px 10px;
                    border-radius: 20px;
                }

                .type2 {
                    color: white;
                    background-color: black;
                    padding: 5px 10px;
                    border-radius: 20px;
                }

                .normal {
                    background-color: #A8A878;
                }

                .fire {
                    background-color: #F08030;
                }

                .fighting {
                    background-color: #C03028;
                }

                .water {
                    background-color: #6890F0;
                }

                .flying {
                    background-color: #A890F0;
                }

                .grass {
                    background-color: #78C850;
                }

                .poison {
                    background-color: #A040A0;
                }

                .electric {
                    background-color: #F8D030;
                }

                .ground {
                    background-color: #E0C068;
                }

                .psychic {
                    background-color: #F85888;
                }

                .rock {
                    background-color: #B8A038;
                }

                .ice {
                    background-color: #98D8D8;
                }

                .bug {
                    background-color: #A8B820;
                }

                .dragon {
                    background-color: #7038F8;
                }

                .ghost {
                    background-color: #705898;
                }

                .dark {
                    background-color: #705848;
                }

                .steel {
                    background-color: #B8B8D0;
                }

                .fairy {
                    background-color: #EE99AC;
                }
            }
        }

        
    }
}