* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #eee;
  

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.type1 {
  color: white;
  margin-right: 0.2rem;
  padding: 5px 10px;
  border-radius: 20px;
}

.type2 {
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.normal {
  background-color: #A8A878;
}

.fire {
  background-color: #F08030;
}

.fighting {
  background-color: #C03028;
}

.water {
  background-color: #6890F0;
}

.flying {
  background-color: #A890F0;
}

.grass {
  background-color: #78C850;
}

.poison {
  background-color: #A040A0;
}

.electric {
  background-color: #F8D030;
}

.ground {
  background-color: #E0C068;
}

.psychic {
  background-color: #F85888;
}

.rock {
  background-color: #B8A038;
}

.ice {
  background-color: #98D8D8;
}

.bug {
  background-color: #A8B820;
}

.dragon {
  background-color: #7038F8;
}

.ghost {
  background-color: #705898;
}

.dark {
  background-color: #705848;
}

.steel {
  background-color: #B8B8D0;
}

.fairy {
  background-color: #EE99AC;
}
